# Stock Market Prediction

In [32]:
import pandas as pd
import numpy as np
import sklearn

In [33]:
df = pd.read_csv('bTraining.csv')

In [34]:
df.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Jul 31, 2017",2763.24,2889.62,2720.61,2875.34,"860,575,000","45,535,800,000"
1,"Jul 30, 2017",2724.39,2758.53,2644.85,2757.18,"705,943,000","44,890,700,000"
2,"Jul 29, 2017",2807.02,2808.76,2692.80,2726.45,"803,746,000","46,246,700,000"
3,"Jul 28, 2017",2679.73,2897.45,2679.73,2809.01,"1,380,100,000","44,144,400,000"
4,"Jul 27, 2017",2538.71,2693.32,2529.34,2671.78,"789,104,000","41,816,500,000"

In [7]:
df=df.drop('Volume',axis=1)

In [42]:
X=df.iloc[:,[1,2,3]].values
y=df.iloc[:,4].values

In [54]:
y

array([2875.34, 2757.18, 2726.45, ...,  139.  ,  144.54,  134.21])

In [55]:
from sklearn.model_selection import train_test_split

In [56]:
X_train,X_test,y_train,y_test =train_test_split(X,y,test_size=0.2,random_state=0)

In [57]:
from sklearn.linear_model import LinearRegression

In [58]:
regressor = LinearRegression()

In [59]:
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [49]:
tf = pd.read_csv('bTest.csv')
tf = tf.drop('Volume',axis=1)

In [51]:
test=tf.iloc[:,[1,2,3]].values

In [61]:
result=regressor.predict(X_test)

In [65]:
regressor.score(X_test,y_test)

0.9991559087213059